@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  font-family: "Silkscreen", cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
p::selection,
h1::selection,
label::selection {
  background-color: #ffffff;
  color: #000000;
}

/* NavBar Styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  background-color: #000000;
  color: #66ff8f;
  min-height: 40px;
}
.logo {
  height: 100%;
  width: 38vw;
  min-width: 300px;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 22px;
}
.logo a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo a:hover {
  color: #000000;
  background-color: #66ff8f;
  font-weight: 700;
  letter-spacing: 7px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 50vw;
  min-height: 40px;
  z-index: 1;
}
.nav-links li {
  list-style: none;
  width: 12.5vw;
  height: 100%;
}
.nav-links a {
  width: 100%;
  height: 100%;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-links a:hover {
  background-color: #f73325;
  color: #000000;
  font-weight: 700;
}
.burger {
  display: none;
  cursor: pointer;
  height: 6vh;
  width: 70px;
  vertical-align: middle;
}
.burger-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger-inner div {
  width: 40%;
  height: 2px;
  background-color: #66ff8f;
  margin: 4px;
  transition: all 0.1s ease;
}
.burger:hover {
  background-color: #8949e9;
  /* background-color: #9e7166; */
  /* background-color: #6c6c6c; */
}

/* Body Styling */
body {
  background-color: #000000;
  letter-spacing: 1px;
}
h1 {
  color: #f73325;
  font-size: 24px;
  text-align: center;
}
.hyperion-image-div {
  width: 100%;
  position: relative;
}
.icecream-image-div {
  width: 100%;
  margin-top: 12vh;
  position: relative;
}
.hyperion-image-div img,
.icecream-image-div img {
  width: 100%;
  height: auto;
}
.icecream-image-div img {
  opacity: 0.8;
}
.hyperion-svg-div {
  position: absolute;
  top: 20%;
  width: 100%;
  left: 12.5%;
}
.icecream-svg-div {
  position: absolute;
  top: 42%;
  width: 100%;
  left: 12.5%;
}
.hyperion-svg-div svg,
.icecream-svg-div svg {
  width: 75%;
  height: auto;
}
#hyperion-svg {
  animation: fill-white 15s ease forwards 6.5s;
}
#hyperion-svg path:nth-child(1) {
  stroke-dasharray: 450;
  stroke-dashoffset: 451;
  animation: line-anim 3s ease forwards;
}
#hyperion-svg path:nth-child(2) {
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: line-anim 3s ease forwards 0.5s;
}
#hyperion-svg path:nth-child(3) {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: line-anim 3s ease forwards 1s;
}
#hyperion-svg path:nth-child(4) {
  stroke-dasharray: 517.5;
  stroke-dashoffset: 517.5;
  animation: line-anim 3s ease forwards 1.5s;
}
#hyperion-svg path:nth-child(5) {
  stroke-dasharray: 540;
  stroke-dashoffset: 540;
  animation: line-anim 3s ease forwards 2s;
}
#hyperion-svg path:nth-child(6) {
  stroke-dasharray: 382.5;
  stroke-dashoffset: 382.5;
  animation: line-anim 3s ease forwards 2.5s;
}
#hyperion-svg path:nth-child(7) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 3s ease forwards 3s;
}
#hyperion-svg path:nth-child(8) {
  stroke-dasharray: 472.5;
  stroke-dashoffset: 472.5;
  animation: line-anim 3s ease forwards 3.5s;
}

#sprinkles-svg {
  animation: fill-pink 15s ease forwards 6.5s;
}
#sprinkles-svg path:nth-child(1) {
  stroke-dasharray: 832;
  stroke-dashoffset: 832;
  animation: line-anim 4s ease forwards;
}
#sprinkles-svg path:nth-child(2) {
  stroke-dasharray: 640;
  stroke-dashoffset: 640;
  animation: line-anim 4s ease forwards 0.5s;
}
#sprinkles-svg path:nth-child(3) {
  stroke-dasharray: 768;
  stroke-dashoffset: 768;
  animation: line-anim 4s ease forwards 1s;
}
#sprinkles-svg path:nth-child(4) {
  stroke-dasharray: 544;
  stroke-dashoffset: 544;
  animation: line-anim 4s ease forwards 1.5s;
}
#sprinkles-svg path:nth-child(5) {
  stroke-dasharray: 672;
  stroke-dashoffset: 672;
  animation: line-anim 4s ease forwards 2s;
}
#sprinkles-svg path:nth-child(6) {
  stroke-dasharray: 704;
  stroke-dashoffset: 704;
  animation: line-anim 4s ease forwards 2.5s;
}
#sprinkles-svg path:nth-child(7) {
  stroke-dasharray: 416;
  stroke-dashoffset: 416;
  animation: line-anim 4s ease forwards 3s;
}
#sprinkles-svg path:nth-child(8) {
  stroke-dasharray: 736;
  stroke-dashoffset: 736;
  animation: line-anim 4s ease forwards 3.5s;
}
#sprinkles-svg path:nth-child(9) {
  stroke-dasharray: 832;
  stroke-dashoffset: 832;
  animation: line-anim 4s ease forwards 3.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill-white {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
@keyframes fill-pink {
  from {
    fill: transparent;
  }
  to {
    fill: #ba03fc;
  }
}
.hometext1,
.hometext2,
.hometext3,
.sprinkles-text-1,
.sprinkles-text-2,
.sprinkles-text-3 {
  padding-top: 20px;
  height: 20vh;
  vertical-align: center;
}
.hometext1 h1,
.hometext2 h1,
.hometext3 h1,
.sprinkles-text-1 h1,
.sprinkles-text-2 h1,
.sprinkles-text-3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  font-size: 68px;
}
.sprinkles-text-1 h1,
.sprinkles-text-2 h1,
.sprinkles-text-3 h1 {
  color: #ba03fc;
}
.hometext2 h1 {
  font-size: 64px;
}
.hometext3 h1 {
  font-size: 70px;
}
.back-to-top-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  font-size: 20px;
  margin: 5vh;
}
.back-to-top-div a {
  color: #66ff8f;
}

/* About Page Styling */
.aboutdiv {
  width: 100%;
  /* height: 140vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
  flex-shrink: 1;
}
ul {
  color: #ffffff;
  list-style: none;
}
.div-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.div-signup h1 {
  font-size: 28px;
}
.formdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-form {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #66ff8f; */
}
.formdiv div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.formdiv label {
  margin-right: 15px;
  font-size: 22px;
  color: #ffffff;
}
.formdiv input {
  height: 30px;
  width: 60%;
  font-size: 20px;
  max-width: 400px;
}
.messageboxdiv {
  width: 370px;
  height: 180px;
  padding-top: 60px;
  padding-bottom: 50px;
  /* background-color: #66ff8f; */
}
.messageboxdiv textarea {
  width: 60%;
  height: 180px;
  font-size: 18px;
}
.send-button button {
  background-color: #66ff8f;
  width: 23%;
  min-width: 100px;
  min-height: 36px;
  height: 23%;
  font-size: 20px;
  /* border: 2px solid #ffffff; */
  border-radius: 6px;
}
.send-button button:hover {
  background-color: #9b57f5;
}
.give-thanks-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  margin-top: 10vh;
  padding-bottom: 40px;
}
.give-thanks-div h1 {
  font-size: 32px;
  padding-bottom: 30px;
}
.give-thanks-div p {
  width: 70%;
  font-size: 26px;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 14px;
  }
  .logo {
    letter-spacing: 5px;
  }
  .logo a:hover {
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 1170px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1,
  .sprinkles-text-1 h1,
  .sprinkles-text-2 h1,
  .sprinkles-text-3 h1 {
    font-size: 50px;
  }
  .logo {
    font-size: 18px;
    width: 50vw;
  }
}
@media screen and (max-width: 868px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1,
  .sprinkles-text-1 h1,
  .sprinkles-text-2 h1,
  .sprinkles-text-3 h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 650px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1,
  .sprinkles-text-1 h1,
  .sprinkles-text-2 h1,
  .sprinkles-text-3 h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 625px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background-color: #000000;
    color: #66ff8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  .nav-links li {
    opacity: 0;
    height: 100%;
    width: 100%;
  }
  .nav-links li > a {
    font-size: 24px;
  }
  .logo {
    font-size: 16px;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
.about-me-div {
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 64px;
  /* margin-top: 7vh; */
}
.about-me-div p {
  font-size: 24px;
  color: #66ff8f;
}
/* about page spaceship */
.spaceshipsvg {
  width: 50%;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}
.spaceshipsvg svg {
  width: 100%;
  justify-self: center;
  animation: svg-fadein 5s ease-in-out;
}
/* #tripper-guy {
  animation: guy-move 3s linear infinite alternate;
} */
#rocket {
  animation: rocket-hover 3s linear infinite alternate;
}
#disk-1 {
  transform-origin: center;
  transform-box: fill-box;
  animation: disk-1-rotate 2s linear infinite alternate;
}
#disk-2 {
  transform-origin: center;
  transform-box: fill-box;
  animation: disk-1-rotate 2s linear infinite alternate-reverse;
}
#rocketship {
  animation: ship-move 3s linear infinite alternate;
}
#planet {
  animation: planet-orbit 6s linear infinite alternate;
}

/* @keyframes guy-move {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -250px);
  }
} */
@keyframes rocket-hover {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -50px);
  }
}
@keyframes disk-1-rotate {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
@keyframes ship-move {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40px, -100px);
  }
}
@keyframes planet-orbit {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(55%, -20px);
  }
}
@keyframes svg-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About page image */
.image-animation1 {
  width: 100%;
  position: relative;
}
.image-animation1 img {
  width: 100%;
}
.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.transition-image:hover {
  opacity: 1;
}
.alien-svg {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.alien-svg svg {
  width: 100%;
  height: auto;
  opacity: 0;
  animation: hide-aliens 10s 6s forwards;
}
#alien-1 {
  animation: alien-hover 6s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#ship {
  animation: ship-hover 4s linear infinite;
}
#hand-wave {
  animation: hand-wave 2s linear infinite alternate;
  transform-origin: right bottom;
  transform-box: fill-box;
}
#dash-1,
#dash-2,
#dash-3,
#dash-4,
#dash-5 {
  animation: lines-down 2s linear infinite alternate;
}
#dash-6,
#dash-7,
#dash-8,
#dash-9,
#dash-10 {
  animation: lines-down 2s linear infinite alternate-reverse;
}

@keyframes alien-hover {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes ship-hover {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}
@keyframes hand-wave {
  from {
    transform: rotateZ(-20deg);
  }
  to {
    transform: rotateZ(20deg);
  }
}
@keyframes lines-down {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(25px);
  }
}
@keyframes hide-aliens {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Demo File styles: */
main.demo {
  height: 94vh;
}
.hyperion-svgdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40%;
  width: 100%;
  align-items: center;
  /* background-color: #66ff8f; */
}
.video-div {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.video-div video {
  width: 90%;
  height: auto;
}
.hyperion-play-link,
.sprinkles-play-link {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hyperion-play-link a,
.sprinkles-play-link a {
  font-size: 48px;
  color: #66ff8f;
}
.sprinkles-play-link a {
  color: #ba03fc;
}
.hyperion-play-link:hover {
  background: url(images/hyperion-enemies-resized.png);
}
.sprinkles-play-link:hover {
  background: url(images/sprinkles-sample.png) no-repeat;
  background-size: cover;
}
