@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  font-family: "Silkscreen", cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NavBar Styling */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  background-color: #000000;
  color: #66ff8f;
  min-height: 40px;
}
.logo {
  height: 100%;
  width: 18vw;
  min-width: 210px;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 22px;
}
.logo a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo a:hover {
  color: #000000;
  background-color: #66ff8f;
  font-weight: 700;
  letter-spacing: 7px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 50vw;
  min-height: 40px;
}
.nav-links li {
  list-style: none;
  width: 12.5vw;
  height: 100%;
}
.nav-links a {
  width: 100%;
  height: 100%;
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-links a:hover {
  background-color: #f73325;
  color: #000000;
  font-weight: 700;
}
.burger {
  display: none;
  cursor: pointer;
  height: 6vh;
  width: 70px;
  vertical-align: middle;
}
.burger-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger-inner div {
  width: 40%;
  height: 2px;
  background-color: #66ff8f;
  margin: 4px;
  transition: all 0.1s ease;
}
.burger:hover {
  background-color: #8949e9;
  /* background-color: #9e7166; */
  /* background-color: #6c6c6c; */
}

/* Body Styling */
body {
  background-color: #000000;
  letter-spacing: 1px;
}
h1 {
  color: #f73325;
  font-size: 24px;
  text-align: center;
}
.home-image-div {
  width: 100%;
}
.home-image-div img {
  width: 100%;
  height: auto;
}
.home-image-div svg {
  width: 60%;
  height: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo {
  animation: fill 15s ease forwards 6.5s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 450;
  stroke-dashoffset: 451;
  animation: line-anim 3s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  animation: line-anim 3s ease forwards 0.5s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: line-anim 3s ease forwards 1s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 517.5;
  stroke-dashoffset: 517.5;
  animation: line-anim 3s ease forwards 1.5s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 540;
  stroke-dashoffset: 540;
  animation: line-anim 3s ease forwards 2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 382.5;
  stroke-dashoffset: 382.5;
  animation: line-anim 3s ease forwards 2.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 495;
  stroke-dashoffset: 495;
  animation: line-anim 3s ease forwards 3s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 472.5;
  stroke-dashoffset: 472.5;
  animation: line-anim 3s ease forwards 3.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #ffffff;
  }
}
.hometext1,
.hometext2,
.hometext3 {
  padding-top: 20px;
  height: 20vh;
  vertical-align: center;
}
.hometext1 h1,
.hometext2 h1,
.hometext3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  vertical-align: middle;
  font-size: 68px;
  /* background-color: #66ff8f; */
}
.hometext2 h1 {
  font-size: 60px;
  /* background-color: aqua; */
}
.hometext3 h1 {
  font-size: 70px;
  /* background-color: #f73325;
  color: #ffffff; */
}

/* About Page Styling */
.aboutdiv {
  width: 100%;
  /* height: 140vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
  flex-shrink: 1;
}
ul {
  color: #ffffff;
  list-style: none;
}
.div-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.div-signup h1 {
  font-size: 28px;
}
.formdiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-form {
  width: 100%;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #66ff8f; */
}
.formdiv div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.formdiv label {
  margin-right: 15px;
  font-size: 22px;
  color: #ffffff;
}
.formdiv input {
  height: 30px;
  width: 60%;
  font-size: 20px;
  max-width: 400px;
}
.messageboxdiv {
  width: 370px;
  height: 180px;
  padding-top: 60px;
  padding-bottom: 50px;
  /* background-color: #66ff8f; */
}
.messageboxdiv textarea {
  width: 60%;
  height: 180px;
  font-size: 18px;
}
.send-button button {
  background-color: #66ff8f;
  width: 23%;
  min-width: 100px;
  min-height: 36px;
  height: 23%;
  font-size: 20px;
  /* border: 2px solid #ffffff; */
  border-radius: 6px;
}
.send-button button:hover {
  background-color: #9b57f5;
}
.resources {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 14px;
  }
}
@media screen and (max-width: 1170px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 868px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 650px) {
  .hometext1 h1,
  .hometext2 h1,
  .hometext3 h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 625px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background-color: #000000;
    color: #66ff8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  .nav-links li {
    opacity: 0;
    height: 100%;
    width: 100%;
  }
  .nav-links li > a {
    font-size: 24px;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-7px, -7px);
}

/* about page spaceship */
.spaceshipsvg {
  width: 50%;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spaceshipsvg svg {
  width: 100%;
  justify-self: center;
  animation: svg-fadein 7s ease-in-out;
}
#ship {
  animation: ship-move 3s linear infinite alternate;
}
#planet {
  animation: planet-orbit 6s linear infinite alternate;
}

@keyframes ship-move {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40px, -100px);
  }
}
@keyframes planet-orbit {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(55%, -20px);
  }
}
@keyframes svg-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* About page image */
.image-animation1 {
  width: 100%;
  position: relative;
}
.image-animation1 img {
  width: 100%;
}
.transition-image {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.transition-image:hover {
  opacity: 1;
}
