@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  font-family: "Silkscreen", cursive;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: #000000;
  color: #66ff8f;
}
.logo {
  color: #66ff8f;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 22px;
  padding: 13px 15px;
}
.logo:hover {
  color: #000000;
  background-color: #66ff8f;
  /* font-size: 26px; */
  font-weight: 700;
  letter-spacing: 5px;
}
.nav-links {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-around;
  width: 50%;
}
.nav-links a {
  color: #66ff8f;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 16px;
  /* for hover over: */
  padding: 18px 25px;
}
.nav-links a:hover {
  background-color: #f73325;
  color: #000000;
  font-weight: 700;
}
.nav-links li {
  list-style: none;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 2px;
  background-color: #66ff8f;
  margin: 6px;
  transition: all 0.1s ease;
}
.burger:hover {
  padding: 10px 10px;
  background-color: #ffffff;
}
body {
  background-color: #000000;
  letter-spacing: 1px;
}
h1 {
  color: #f73325;
  font-size: 24px;
  text-align: center;
}
div.forbidden_planet {
  width: 100%;
}
img.forbidden_planet {
  width: 100%;
  height: auto;
}
.aboutdiv {
  width: 100%;
  /* height: 140vh; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow: hidden; */
  flex-shrink: 1;
}
ul {
  color: #ffffff;
  list-style: none;
}
.div-signup {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
}
.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.form label {
  margin-right: 15px;
  font-size: 22px;
  color: #ffffff;
}
.namebox,
.emailbox {
  height: 30px;
  width: 60%;
  font-size: 20px;
}
.messageboxdiv {
  width: 370px;
  height: 180px;
  /* background-color: #66ff8f; */
}
.form textarea {
  width: 60%;
  height: 180px;
  font-size: 20px;
}
.send-button button {
  background-color: #66ff8f;
  width: 23%;
  height: 23%;
  font-size: 20px;
  /* border: 2px solid #ffffff; */
  border-radius: 6px;
}
.send-button button:hover {
  background-color: #51c470;
}
.resources {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 14px;
  }
}

@media screen and (max-width: 625px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 94vh;
    top: 6vh;
    background-color: #000000;
    color: #66ff8f;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links a {
    /* display: flex;
        flex-direction: column; */
    font-size: 17px;
    padding: 80px 79px;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* about page spaceship */
.spaceshipsvg {
  width: 50%;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spaceshipsvg svg {
  width: 100%;
  justify-self: center;
  animation: svg-fadein 7s ease-in-out;
}
#ship {
  animation: ship-move 3s linear infinite alternate;
}
#planet {
  animation: planet-orbit 6s linear infinite alternate;
}

@keyframes ship-move {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-40px, -100px);
  }
}
@keyframes planet-orbit {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(55%, -20px);
  }
}
@keyframes svg-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
